# SPDX-FileCopyrightText: 2023 MASH project contributors
# SPDX-FileCopyrightText: 2023 Niels Bouma
# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Traefik paths exist
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "0750"
    owner: "{{ traefik_uid }}"
    group: "{{ traefik_gid }}"
  when: item.when | bool
  with_items:
    - path: "{{ traefik_base_path }}"
      when: true
    - path: "{{ traefik_config_dir_path }}"
      when: true
    - path: "{{ traefik_ssl_dir_path }}"
      when: "{{ traefik_ssl_dir_enabled }}"
    - path: "{{ traefik_plugins_dir_path }}"
      when: "{{ traefik_plugin_support_enabled }}"

- name: Run if HTTP Basic authentication is enabled
  when: traefik_dashboard_basicauth_enabled | bool
  block:
    # We do this locally, so that we won't need passlib to be installed on the server.
    - name: Generate HTTP Basic authentication file locally
      community.general.htpasswd:
        path: "{{ traefik_dashboard_basicauth_file_tmp }}"
        name: "{{ traefik_dashboard_basicauth_user }}"
        password: "{{ traefik_dashboard_basicauth_password }}"
        mode: "0640"
      become: false
      delegate_to: 127.0.0.1

    - name: Load HTTP Basic authentication file contents
      ansible.builtin.slurp:
        src: "{{ traefik_dashboard_basicauth_file_tmp }}"
      become: false
      delegate_to: 127.0.0.1
      register: traefik_dashboard_basicauth_file_contents_raw

    - name: Load HTTP Basic authentication file contents
      ansible.builtin.set_fact:
        traefik_dashboard_basicauth_file_contents: "{{ traefik_dashboard_basicauth_file_contents_raw['content'] | b64decode | trim }}"

    - name: Ensure local temporary HTTP Basic authentication file is removed
      ansible.builtin.file:
        path: "{{ traefik_dashboard_basicauth_file_tmp }}"
        state: absent
      become: false
      delegate_to: 127.0.0.1

- name: Ensure Traefik support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ traefik_config_dir_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ traefik_uid }}"
    group: "{{ traefik_gid }}"
  with_items:
    - env
    - labels

- name: Ensure traefik.yml installed
  ansible.builtin.copy:
    content: "{{ traefik_configuration | to_nice_yaml(indent=2, width=999999) }}"
    dest: "{{ traefik_config_dir_path }}/traefik.yml"
    mode: "0640"
    owner: "{{ traefik_uid }}"
    group: "{{ traefik_gid }}"

- name: Ensure provider.yml installed
  ansible.builtin.copy:
    content: "{{ traefik_provider_configuration | to_nice_yaml(indent=2, width=999999) }}"
    dest: "{{ traefik_config_dir_path }}/provider.yml"
    mode: "0640"
    owner: "{{ traefik_uid }}"
    group: "{{ traefik_gid }}"

# If the Docker API is accessed through a UNIX socket (like we do by default), the container is run as root,
# which means that the acme.json file is also created as root. For such a privilege container, this root-owned file is OK.
#
# When switching to accessing the Docker API via TCP, we run the container with a regular user.
# An already existing acme.json (owned by root:root) won't be accessible and needs to be fixed up.
#
# If the permissions for these file are incorrect, Traefik will report this error and ignore the whole certificate resolver:
# > The ACME resolve is skipped from the resolvers list error="unable to get ACME account: permissions 777 for /ssl/acme.json are too open, please use 600" resolver=default
#
# File ownership/permissions may become incorrect for other reasons too, so this is here to ensure we correct it if it happens.
- name: Run if the SSL directory is enabled for Traefik
  when: traefik_ssl_dir_enabled | bool
  block:
    - name: Check existence of acme.json file
      ansible.builtin.stat:
        path: "{{ traefik_ssl_dir_path }}/acme.json"
      register: traefik_ssl_acme_json_stat

    - name: Ensure ACME file permissions are correct
      when: traefik_ssl_acme_json_stat.stat.exists | bool
      ansible.builtin.file:
        path: "{{ traefik_ssl_dir_path }}/acme.json"
        owner: "{{ traefik_uid }}"
        group: "{{ traefik_gid }}"
        mode: "0600"

- name: Ensure Traefik container image is pulled via community.docker.docker_image
  when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
  community.docker.docker_image:
    name: "{{ traefik_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}" # noqa args
    force_source: "{{ traefik_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else traefik_container_image_force_pull }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed

- name: Ensure Traefik container image is pulled via ansible.builtin.command
  when: devture_systemd_docker_base_container_image_pull_method == 'command'
  ansible.builtin.command:
    cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ traefik_container_image }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed
  changed_when: "'Downloaded newer image' in result.stdout"

- name: Run if 'host' network is not specified to be used
  when: traefik_container_network != 'host'
  block:
    - name: Ensure Traefik container network exists via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
        name: "{{ traefik_container_network }}"
        driver: bridge
        driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"

    - name: Ensure Traefik container network is created via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network create
          {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
          {{ devture_systemd_docker_base_container_networks_driver_options_string }}
          {{ traefik_container_network }}
      register: network_creation_result
      changed_when: network_creation_result.rc == 0
      failed_when: network_creation_result.rc != 0 and 'already exists' not in network_creation_result.stderr

- name: Ensure Traefik systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/traefik.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ traefik_identifier }}.service"
    mode: "0644"
